[submodule "lib/ds-test"]
	path = lib/ds-test
	url = git://
	branch = master
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = master
[submodule "lib/prb-test"]
	path = lib/prb-test
	url = https://github.com/paulrberg/prb-test
	branch = 0.3.0
[submodule "lib/isolmate"]
	path = lib/isolmate
	url = git://github.com/defi-wonderland/isolmate.git
	branch = main
